Django==4.1
django-bootstrap-form==3.4
django-crispy-forms==1.14.0
djangorestframework==3.13.1
gunicorn==20.1.0
numpy==1.23.3
oauthlib==3.2.0
pandas==1.4.4
Pillow==9.0.1
PyJWT==2.3.0
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==23.2.0
requests==2.25.1
scikit-learn==1.1.2
six==1.16.0
sklearn
django-heroku
dj-database-url
dj-static
Unipath
python-decouple
Markdown
bleach
psycopg2
whitenoise